
<!DOCTYPE HTML>


<html>

  <head>
    <h1> bloggit </h1>
    <h2> The Team </h2>
    <ul>
      <li> Leader: Johnny So </li>
      <li> UX (Front-End) : Vivian Li </li>
      <li> Middleware : Darwin Chiu </li>
      <li> Backend : Ishraq Bhuiyan </li>
    </ul>
  </head>


  <body>
    <p> Hello friends
      <br>
      'What is bloggit', you might be wondering.
      <br>
      Sorry, we don't know either!
      <br>
      It'll be up to you.
      <br>
      Share whatever you want to share with the rest of the users.
      <br>
      It can be a haiku,
      <br>
      a zuihitsu,
      <br>
      a short story,
      <br>
      a clever joke,
      <br>
      or even a bad pun.
      <br>
  </body>

</html>

