<!DOCTYPE html>

<!-- head template from The New Boston -->

<html lang="en">

  <head>
    <title>Members</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand active" href="profile">{{ un }}</a>
	  </div>
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
              <li><a href="home">Home</a></li>
	      <li><a href="about">About</a></li>
	      <li class="active"><a href="members"> Members </a></li>
              <li><a href="blog">Blog</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="logout">Logout</a></li>
	    </ul>
	  </div>
	</div>
    </div>

    <br>
    <br>

    <div class="jumbotron">
      <div align="center">
	<font size="30"><b> Members </b> </font>
	<p> {{members}} </p>
      </div>
    </div>

</html>
