<!DOCTYPE html>
<!--head template from The New Boston-->
<html lang="en">
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="blog"><font color="green">Go back to blog</font></a>
	</div>
      </div>
    </div>
    <div class="jumbotron3">
      <div class="boxed2 type vertical" align="center">
	<h2><u>{{title}}</u></h2>
	<p>Posted by: {{user}}</p><br>
	<h3 align="left">{{content}}</h3>
      </div>
    </div>
  </body>
  
